*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1495781856580-b3c4e8d21bf9?q=80&w=1163&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover{
    box-shadow: #000000 10px 10px 10px 0px;
    color: orange;
    
}
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(171, 152, 152);
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle{
    color:#fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_button{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;

}
.action_button:hover{
    scale: 1.1;
    background-color: #000000;
}

.dropdown_menu{
    /* display: none; */
    position: absolute;
    top: 60px;
    right: 2rem;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    /* flex-direction: column; */
    width: 300px;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}
/* .dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action_button{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media(max-width:768px){
    .navbar .links,
    .navbar .action_button{
        display: none;
    }
   
    .navbar .toggle{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
} */